.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(39, 37, 37);
  font-family: 'Sarpanch', sans-serif;
}

.App-link {
  color: #F68712;
  font-size: 1rem;
  letter-spacing: .8rem;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg);
  }
}

@media (min-width: 600px) {
  .App-link {
    font-size: 2rem;
  }
}